
/* media screen pour chaque figure */
@media screen and (max-width: 1024px) {
    #main {
        transform: scale(100%);
        transition: transform 1s;
    }
}

@media screen and (max-width: 700px) {
    #main {
        transform: scale(60%);
        transition: transform 1s;
    }
}
@media screen and (max-width: 320px) {
    #main {
        transform: scale(50%);
        transition: transform 1s;
    }
}
.bigYellow-Triangle{
    transform: translateX(5rem)  translateY(0rem)  rotate(45deg);	
    transition: transform 1s ;
}
.bigGreen-Triangle{
    transform:  translateX(-2rem)  translateY(0rem) rotate(45deg);	
    transition: transform 1s ;
}

.blue-Triangle{

    transform:  translateX(-10rem)  translateY(-13rem) rotate(270deg);
    transition: transform 1s ;
}

.red-Square{

    transform:  translateX(-9rem)  translateY(-7rem) rotate(45deg);	
    transition: transform 1s ;
}

.blue-Parallelogram{

    transform:  translateX(6rem)  translateY(9rem) rotate(-45deg);	
    transition: transform 1s ;

}
.orange-Triangle {

    transform:  translateX(-3rem)  translateY(8rem) rotate(180deg);	
    transition: transform 1s ;

}
.greenSmallTriangle {

    transform:  translateX(10.5rem)  translateY(-8.5rem) rotate(180deg);	
    transition: transform 1s ;
}